body{
    background-color: indigo;
}
h1{
    color: turquoise;
    background-color: gray;
    width:300px ;
    text-align: center;
}

h2{
    color: orangered;
}
p{
    color: white;
   
}
ul{
    color: whitesmoke;
}

